.tb-scpn{
    width: 100%;
    border: none;
    border-collapse: collapse;
    font-size: 0.8125rem;
}

.tb-scpn-row{
    transition: 0.2s;
}

.tb-scpn-row:hover{
    background-color: #f2f2f2;
    transition: 0.2s;
    cursor: pointer;
}

.tb-scpn-row-header {
    color: rgb(146, 146, 146);
}

.tb-scpn-row-header:hover{
    background-color: initial !important;
    cursor: initial !important;
}

.tb-scpn-cell{
    border-bottom: 1px solid rgba(224, 224, 224, 1);
    padding: 10px;
    text-align: left;
    white-space: nowrap;
}

.tb-scpn-cell-label{
    width: 0%;
    display: none;
    color: rgb(146, 146, 146);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tb-scpn-cell-body{
    width: 100%;
    display: inline-block;  
}

@media screen and (max-width: 650px) {
    
    .tb-scpn-row{
        display: block;
        margin-bottom: 15px;
        border: 1px solid rgba(224, 224, 224, 1);
    }

    .tb-scpn-cell{
        display: block;
        text-align: left !important;
    }

    .tb-scpn-cell-label{
        width: 30%;
        display: inline-block;
    }
    
    .tb-scpn-cell-body{
        width: 70%;
        display: inline-block;  
    }

    .tb-scpn-row-header {
        display: none;
    }

  }