.pesquisa-container{
    width: 100%;
    height: 100%;
}

.pesquisa-container-sub{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.pesquisa-header{
    width: calc(100% - 30px);
    height: auto;
    background-color: #00b388;
    color: white;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9000;
    height: 50px;
    line-height: 50px;
    padding-left: 15px;
    padding-right: 15px;
}

.pesquisa-titulo, .pesquisa-fechar{
    display: inline-block;
}

.pesquisa-titulo{
    font-size: 20px;
    font-weight: 200;
}

.pesquisa-fechar{
    float: right;
}

.pesquisa-filtros{
    float: left;
    height: calc(100% - 50px);
    width: calc(240px - 20px);
    border-right: 1px solid rgba(224, 224, 224, 1);
    padding: 10px;
}

.pesquisa-botoes{
    text-align: center;
}

.pesquisa-botao{
    box-shadow: none !important;
    margin-bottom: 5px !important;
    display: inline-block;
    width: calc((100% / 2) - 5px) !important;
}

.pesquisa-botao:nth-child(even){
    margin-left: 5px;
}

.pesquisa-fechar-btn{
    min-width: 0px !important;
    padding: 0px !important;
}

.responsivo-hidden{
    display: inline-block;
}

.responsivo-show{
    display: none !important;
}

.pesquisa-container-tabela{
    display: inline-block;
    width: calc(100% - 245px);
    height: 100%;
}

@media screen and (max-width: 650px) {
    .pesquisa-filtros{
        width: calc(100% - 10px) !important;
        padding: 5px !important;
        max-width: 50px;
    }

    .responsivo-hidden{
        display: none;
    } 

    .show-filtros{
        display: inline-block !important;
    }

    .pesquisa-botao{
        width: auto !important;
        height: auto !important;
        margin-bottom: 5px !important;
        min-width: 0px !important;
        padding: 10px !important;
        margin-left: 3px !important;
        margin-right: 3px !important;
    }

    .responsivo-show{
        display: inline-block !important;
    }
    
    .pesquisa-container-tabela{
        width: calc(100% - 65px) !important;
    }
}